<section>
  <div class="blog">
  <section class = "blog-text">
    <h2 class="blog-headline" >プロフィール</h2>
    <br>
    <br>
　　<%= form_for @profile,:url => {:action => :create} do |f| %>
　    <h3>診断士資格</h3>
　　  <br>  
  　   <label>
　　　  <label><%= f.radio_button :capa, 1 %> 有り</label>
　　　  <label><%= f.radio_button :capa, 0 %> 無し</label>
　　  </label> 
      <br>
　    <h3>2次試験受験経験</h3>
　　  <br>  
  　   <label>
　　　  <label><%= f.radio_button :expe, 1 %> 有り</label>
　　　  <label><%= f.radio_button :expe, 0 %> 無し</label>
　　  </label> 
      <br>    
　    <h3>事例1最高結果</h3>
　　  <br>  
  　   <label>
　　　  <label><%= f.radio_button :most1, 3 %> A</label>
　　　  <label><%= f.radio_button :most1, 2 %> B</label>　　　
　　　  <label><%= f.radio_button :most1, 1 %> C</label>　　　
　　　  <label><%= f.radio_button :most1, 0 %> D</label>　　　
　　  </label> 
      <br>      
　    <h3>事例2最高結果</h3>
　　  <br>  
  　   <label>
　　　  <label><%= f.radio_button :most2, 3 %> A</label>
　　　  <label><%= f.radio_button :most2, 2 %> B</label>　　　
　　　  <label><%= f.radio_button :most2, 1 %> C</label>　　　
　　　  <label><%= f.radio_button :most2, 0 %> D</label>　　　
　　  </label> 
      <br>        
　    <h3>事例3最高結果</h3>
　　  <br>  
  　   <label>
　　　  <label><%= f.radio_button :most3, 3 %> A</label>
　　　  <label><%= f.radio_button :most3, 2 %> B</label>　　　
　　　  <label><%= f.radio_button :most3, 1 %> C</label>　　　
　　　  <label><%= f.radio_button :most3, 0 %> D</label>　　　
　　  </label> 
      <br>        
　    <h3>事例4最高結果</h3>
　　  <br>  
  　   <label>
　　　  <label><%= f.radio_button :most4, 3 %> A</label>
　　　  <label><%= f.radio_button :most4, 2 %> B</label>　　　
　　　  <label><%= f.radio_button :most4, 1 %> C</label>　　　
　　　  <label><%= f.radio_button :most4, 0 %> D</label>　　　
　　  </label> 
      <br>        
      <%= f.submit '登録', include_hidden: false %>
    <% end %>  
  </div>
</section>