<% if @comments.answer.year == 30 %>
  <% if @comments.answer.jirei == 1 %>
      <h2><%= @comments.user.name %>さんの評価結果を編集する</h2>
      <br>
      <br>
      <%= form_for(@comments) do |f| %>
        <h4>第1問（配点20点）<h4>
        <p class="answer"> <%= @comments.answer.ans2 %></p>
        <br>
          <p class="answer"> <%= @comments.answer.ans1 %></p>  
          <br>
          <%= f.text_area :ans1, :size=>"115x10"%>
        <br>
      
      <h4>第2問（配点40点）<h4>
      <h4>(設問1)</h4>
      <p class="answer"> <%= @comments.answer.ans3 %></p>
      <br>
      <%= f.text_area :ans2, :size=>"115x10"%>
      <br>
      
      <h4>(設問2)</h4>
      <p class="answer"> <%= @comments.answer.ans3 %></p>
      <br>
      <%= f.text_area :ans3, :size=>"115x10"%>
      <br>
      
      <h4>第3問（配点20点）</h4>
      <p class="answer"> <%= @comments.answer.ans4 %></p>
      <br>
      <%= f.text_area :ans4,:size=>"115x10"%>
      <br>
      
      <h4>第4問（配点20点）</h4>
      <p class="answer"> <%= @comments.answer.ans5 %></p>
      <br>
      <%= f.text_area :ans5,:size=>"115x10"%>
      <br>
      <%= f.submit '登録する' %>    
    <% end %>
 <% end %>   

<% end %>


