<h2><%= @comments.user.name %>さんの評価結果</h2>
<br>
  <% if(@comments.answer.year == 30 )then  %>
    <% if(@comments.answer.jirei == 1)then  %>
      <br>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= @comments.answer.ans1 %></p>
      <br>
      <% sum = (@comments.judge1 * 20)/10 %>
      <h4><%= sum  %>点</h4>      
      <p{text-indent:2em;}> <%= @comments.ans1 %></p>        
      <br>
      <h4>第2問（配点40点）<h4>
      <h4>(設問1)</h4>
      <% sum = sum + (@comments.judge2 * 20)/10 %>      
      <p class="answer"> <%= @comments.answer.ans2 %></p>
      <br>
      <h4><%= (@comments.judge2 * 20)/10 %>点</h4>      
      <p{text-indent:2em;}> <%= @comments.ans2 %></p>        
      <br>
      <h4>(設問2)</h4>
      <% sum = sum + (@comments.judge3 * 20)/10 %> 
      <p class="answer" > <%= @comments.answer.ans3 %></p>
      <br>
      <h4><%= (@comments.judge3 * 20)/10 %>点</h4>      
      <p{text-indent:2em;}> <%= @comments.ans3 %></p>        
      <br>
      <h4>第3問（配点20点）</h4>
      <% sum = sum + (@comments.judge4 * 20)/10 %>         
      <p class="answer"> <%= @comments.answer.ans4 %></p>
      <br>
      <h4><%= (@comments.judge4 * 20)/10 %>点</h4>      
      <p{text-indent:2em;}> <%= @comments.ans4 %></p>        
      <br>
      <h4>第4問（配点20点）</h4>
      <% sum = sum + (@comments.judge5 * 20)/10 %>       
      <p class="answer"> <%= @comments.answer.ans5 %></p>
      <br>    
      <h4><%= (@comments.judge5 * 20)/10 %>点</h4>      
      <p{text-indent:2em;}> <%= @comments.ans5 %></p>        
      <br>
      <h4>合計：<%= sum %></h4>
    <% elsif(@comments.answer.jirei == 2)then  %>
    <% elsif(@comments.answer.jirei == 3)then  %>
    <% elsif(@comments.answer.jirei == 4)then  %>
    <% end %>
  <% elsif(@comments.answer.year == 29)then  %>
    <% if(@comments.answer.jirei == 1)then  %>
    <% elsif(@comments.answer.jirei == 2)then  %>
    <% elsif(@comments.answer.jirei == 3)then  %>
    <% elsif(@comments.answer.jirei == 4)then  %>
    <% end %>
  <% elsif(@comments.answer.year == 28)then  %>
    <% if(@comments.answer.jirei == 1)then  %>
    <% elsif(@comments.answer.jirei == 2)then  %>
    <% elsif(@comments.answer.jirei == 3)then  %>
    <% elsif(@comments.answer.jirei == 4)then  %>
    <% end %>
  <% elsif(@comments.answer.year == 27)then  %>
    <% if(f.answer.jirei == 1)then  %>
    <% elsif(@comments.answer.jirei == 2)then  %>
    <% elsif(@comments.answer.jirei == 3)then  %>
    <% elsif(@comments.answer.jirei == 4)then  %>
    <% end %>
  <% end %>
  
<div　class="button_side">
 <%= button_to "承認", {controller: 'root', action: 'top'},{method: :get} %>   
 <%= button_to "編集", {controller: 'comments', action: 'edit'}, {method: :get, params: {id: @comments.answer.id,year: @comments.answer.year,jirei: @comments.answer.jirei}} %>   
 <%= button_to '削除', answer_path(@comments.answer.id), :method => :delete, :confirm => '本当に取り消しますか？' %>
</div>    
