
<h1 class="my_page_title"><%= @usr+"さんのページ" %></h1>
<br><br><br>
 <section class = "blog">
 <h2 class="blog-headline">マイページメニュー</h2>
 <br>
<h3 class="menu_heda">プロフィール</h3>
  <% if @profiles.present? %>
　　    <% if @profiles.capa == 1  %>
          <p　class="indent1">中小企業診断士</p>
        <% else  %>
          <% if @profiles.expe == 1 %>
             <% if @profiles.most1 == 3  %>
               <p class="indent1">  事例１成績：A</p>
             <% elsif@profiles.most1 == 2  %>
               <p class="indent1">  事例１成績：B</p>
             <% elsif @profiles.most1 == 1  %>
               <p class="indent1">  事例１成績：C</p>
             <% elsif @profiles.most1 == 0  %>
               <p class="indent1">  事例１成績：D</p>
             <% end %>

             <% if @profiles.most2 == 3  %>
               <p class="indent1">  事例２成績：A</p>
             <% elsif @profiles.most2 == 2  %>
               <p class="indent1">  事例２成績：B</p>
             <% elsif @profiles.most2 == 1  %>
               <p class="indent1">  事例２成績：C</p>
             <% elsif @profiles.most2 == 0  %>
               <p class="indent1">  事例２成績：D</p>
             <% end %>

             <% if @profiles.most3 == 3  %>
               <p class="indent1">  事例３成績：A</p>
             <% elsif @profiles.most3 == 2  %>
               <p class="indent1">  事例３成績：B</p>
             <% elsif @profiles.most3 == 1  %>
               <p class="indent1">  事例３成績：C</p>
             <% elsif @profiles.most3 == 0  %>
               <p class="indent1">  事例３成績：D</p>
             <% end %>

             <% if @profiles.most4 == 3  %>
               <p class="indent1">  事例４成績：A</p>
             <% elsif @profiles.most4 == 2  %>
               <p class="indent1">  事例４成績：B</p>
             <% elsif @profiles.most4 == 1  %>
               <p class="indent1">  事例４成績：C</p>
             <% elsif @profiles.most4 == 0  %>
               <p class="indent1">  事例４成績：D</p>
             <% end %>
          <% else  %>
            <p class="indent1">２次受験経験なし</p>
          <% end %>
      　<% end %>
  　<% else %>
      <p class="indent1">プロフィールは登録されていません。</p>
      <br>
  <% end %>  
  
<h3 class="menu_heda">過去問</h3>
  <br>
  <% if @answers.present? %>
  
    <table border="1" style="font-size: 11pt;">
    <tr>
      <th>試験年度</th><th>事例</th><th>登録日</th><th>判定</th><th>得点</th><th>コメント数</th>
    </tr>  
    <% @answers.each do |f| %>
    <% cnt = f.comments.count %>
     <tr>
       <td><%= f.year %></td><td><%= f.jirei %></td><td><%= f.created_at.strftime('%Y/%m/%d') %></td><td><%= f.judge %> </td><td><%= f.score %></td><td><%= f.comments.count %></td>
     </tr>
    <% end %>
   </table>
   <br>
　<% else %>
      <p class="indent1" >登録された過去問はありません。</p>
      <br>
  <% end %>
  
<h3 class="menu_heda">事例問題</h3>
  <br>
  <% if @drills.present? %>
    <table border="1">
    <tr>
      <th>試験年度</th><th>事例</th><th>順位</th><th>得点</th><th>コメント数</th>
    </tr>  
    <% @drills.each do |f| %>
     <tr>
       <td></td><td></td><td></td><td></td><td></td>
     </tr>
    <% end %>
   </table>
   <br>     
  <% else %>
      <p class="indent1" >登録された事例企業分析はありません。</p>
      <br>    
  <% end %>

<h3 class="menu_heda">掲示版</h3>
  <br>
  <% if @titles.present? %>
    <% @titles.each do |f| %>
       <h5 class="title_h3"><%= link_to f.title , title_communications_path(f.id) %>  <%= link_to f.created_at.strftime('%Y/%m/%d'),title_communications_path(f.id) %>　</h5>           
    <% end %>
  <% else %>
      <p class="indent1">掲示版に設定したテーマはありません。</p>
      <br>
  <% end %>
</section>
 <div class = "sidebar">
    <section class="popular">
      <h2 class="sidebar-headline">サイトメニュー</h2>
        <div class="sidebar-contents">
          <p class="popular-text">　・掲示版</p>
          <p class="popular-text">　・評価一覧</p>
          <p class="popular-text">　・新規投稿</p>
         </div>
      </section>
 </div>
