<h1 class="my_page_title"><%= @usr+"さんのページ" %></h1>
<br><br><br>

<h3 class="menu_heda">過去問</h3>
  <br>
  <% if @answers.present? %>
  
    <table border="1">
    <tr>
      <th>試験年度</th><th>事例</th><th>順位</th><th>判定</th><th>得点</th><th>コメント数</th>
    </tr>  
    <% @answers.each do |f| %>
    <% cnt = f.comments.count %>
     <tr>
       <td><%= f.year %></td><td><%= f.jirei %></td><td> </td><td><%= f.judge %> </td><td><%= f.score %></td><td><%= f.comments.count %></td>
     </tr>
    <% end %>
   </table>
   <br>
　<% else %>
      <p>登録された過去問はありません。</p>
      <br>
  <% end %>
  
<h3 class="menu_heda">事例問題</h3>
  <br>
  <% if @drills.present? %>
    <table border="1">
    <tr>
      <th>試験年度</th><th>事例</th><th>順位</th><th>得点</th><th>コメント数</th>
    </tr>  
    <% @drills.each do |f| %>
     <tr>
       <td></td><td></td><td></td><td></td><td></td>
     </tr>
    <% end %>
   </table>
   <br>     
  <% else %>
      <p>登録された事例企業分析はありません。</p>
      <br>    
  <% end %>

<h3 class="menu_heda">掲示版</h3>
  <br>
  <% if @titles.present? %>
    <% @titles.each do |f| %>
       <h5 class="title_h3"><%= link_to f.title , title_communications_path(f.id) %>  <%= link_to f.created_at.strftime('%Y/%m/%d'),title_communications_path(f.id) %>　</h5>           
    <% end %>
  <% else %>
      <p>掲示版に設定したテーマはありません。</p>
      <br>
  <% end %>


