<h2>解答内容</h2>
  <br>
  <% if @answer.year == 30 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点40点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点20点）</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第4問（配点20点）</h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点25点）<h4>
      <p><%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点25点）<h4>
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点25点）<h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点25点）<h4>
      <p><%= @answer.ans4 %></p>
      <br>
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）<h4>
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点20点）<h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点20点）<h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第5問（配点20点）</h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点24点）<h4>
      <h4>(設問1)</h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans2 %></p>
      <br>
      <h4>第2問（配点31点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>(設問3)</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第3問（配点30点）</h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans6 %></p>
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans7 %></p>
      <br>
      <h4>(設問3)</h4>
      <p><%= @answer.ans8 %></p>
      <br>
      <h4>第4問（配点15点）</h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% end %>
  <% end %>    
  <% if @answer.year == 28 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点40点）<h4>
      <h4>(設問1)</h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第2問（配点40点）</h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans3 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans3 %></p>      
      <br>
      <h4>第3問（配点20点）</h4>
      <p><%= @answer.ans4 %></p>
      <br>
    <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点20点）<h4>
      <p><%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点25点）<h4>
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点30点）<h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点25点）<h4>
      <p><%= @answer.ans4 %></p>
      <br>
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点25点）<h4>
      <h4>(設問1)</h4>          
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans2 %></p>
      
      <h4>第2問（配点35点）<h4>      
      <h4>(設問1)</h4>         
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>(設問2)</h4>   
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第3問（配点15点）<h4>
      <p><%= @answer.ans5 %></p>
      
      <h4>第4問（配点25点）<h4>
      <h4>(設問1)</h4>                   
      <p><%= @answer.ans6 %></p>      
      <h4>(設問2)</h4>   
      <p><%= @answer.ans7 %></p>      
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点25点）<h4>
      <h4>(設問1)</h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans2 %></p>
      <br>
      <h4>第2問（配点35点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第3問（配点15点）</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点25点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans6 %></p>
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans7 %></p>
      <br>
    <% end %>
  <% end %>
  <% if @answer.year == 29 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）<h4>
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点20点）</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点20点）</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第5問（配点20点）</h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点20点）<h4>
      <p><%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点25点）<h4>
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点30点）<h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点25点）<h4>
      <p><%= @answer.ans4 %></p>
      <br>
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点30点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）<h4>
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点20点）<h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点30点）<h4>
      <p><%= @answer.ans4 %></p>
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点25点）<h4>
      <h4>(設問1)</h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans2 %></p>
      <br>
      <h4>(設問3)</h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点29点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点28点）</h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans6 %></p>
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans7 %></p>
      <br>
      <h4>(設問3)</h4>
      <p><%= @answer.ans8 %></p>
      <br>
    <% end %>
  <% end %>
  <% if @answer.year == 27 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）<h4>
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点20点）</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点20点）</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第5問（配点20点）</h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点40点）<h4>
      <h4>(設問1)</h4>          
      <p><%= @answer.ans1 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans2 %></p>
      <h4>(設問3)</h4>
      <p><%= @answer.ans3 %></p>      
      <br>
      <h4>第2問（配点20点）<h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第3問（配点40点）<h4>
      <h4>(設問1)</h4>             
      <p><%= @answer.ans5 %></p>
      <h4>(設問2)</h4>             
      <p><%= @answer.ans6 %></p>      
      <br>
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点40点）<h4>
      <h4>(設問1)</h4>           
      <p> <%= @answer.ans1 %></p>
      <h4>(設問2)</h4>           
      <p> <%= @answer.ans2 %></p>
      <h4>(設問3)</h4>           
      <p> <%= @answer.ans3 %></p>  
      <br>
      <h4>第2問（配点20点）<h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第3問（配点20点）<h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点30点）<h4>
      <p><%= @answer.ans6 %></p>
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点25点）<h4>
      <h4>(設問1)</h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans2 %></p>
      <br>
      <h4>(設問3)</h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点29点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点28点）</h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans6 %></p>
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans7 %></p>
      <br>
      <h4>(設問3)</h4>
      <p><%= @answer.ans8 %></p>
      <br>
    <% end %>
  <% end %>
  <% if @answer.year == 26 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）<h4>
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点20点）</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点20点）</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第5問（配点20点）</h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点25点）<h4>
      <p><%= @answer.ans1 %></p>
      <h4>第2問（配点25点）<h4>
      <p><%= @answer.ans2 %></p>
      <h4>第3問（配点30点）<h4>
      <h4>(設問1)</h4>               
      <p><%= @answer.ans3 %></p>      
      <br>
      <h4>(設問2)</h4>     
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第4問（配点20点）<h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点10点）<h4>
      <p> <%= @answer.ans1 %></p>
      <h4>第2問（配点20点）<h4>           
      <p> <%= @answer.ans2 %></p>
      <h4>第3問（配点40点）<h4>   
      <h4>(設問1)</h4>      
      <p> <%= @answer.ans3 %></p>  
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第4問（配点30点）<h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点24点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点30点）<h4>
      <p> <%= @answer.ans2 %></p>
      <h4>(設問1)</h4>
      <p> <%= @answer.ans3 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第3問（配点30点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans5 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans6 %></p>      
      <h4>(設問3)</h4>
      <p><%= @answer.ans7 %></p>
      <br>
      <h4>第4問（配点16点）</h4>      
      <p><%= @answer.ans8 %></p>
      <br>
    <% end %>
  <% end %>
  <% if @answer.year == 25 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点35点）<h4>
      <h4>(設問1)</h4>            
      <p> <%= @answer.ans1 %></p>
      <h4>(設問2)</h4>  
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第2問（配点35点）</h4>
      <h4>(設問1)</h4>      
      <p><%= @answer.ans3 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第3問（配点15点）</h4>
      <br>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第3問（配点15点）</h4>
      <p><%= @answer.ans5 %></p>      
      <br>
    <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点20点）<h4>
      <p><%= @answer.ans1 %></p>
      <h4>第2問（配点20点）<h4>
      <p><%= @answer.ans2 %></p>
      <h4>第3問（配点30点）<h4>
      <h4>(設問1)</h4>               
      <p><%= @answer.ans3 %></p>      
      <h4>(設問2)</h4>     
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第4問（配点30点）<h4>
      <h4>(設問1)</h4>          
      <p><%= @answer.ans5 %></p>
      <h4>(設問2)</h4>          
      <p><%= @answer.ans6 %></p>      
      <br>
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点30点）<h4>
      <p> <%= @answer.ans1 %></p>
      <h4>(設問1)</h4>           
      <p> <%= @answer.ans2 %></p>
      <h4>(設問2)</h4>    
      <br>
      <p> <%= @answer.ans3 %></p>  
      <h4>第2問（配点40点）<h4>
      <h4>(設問1)</h4>             
      <p><%= @answer.ans4 %></p>
      <h4>(設問2)</h4>             
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第3問（配点30点）<h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点25点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点45点）<h4>
      <p> <%= @answer.ans2 %></p>
      <h4>(設問1)</h4>
      <p> <%= @answer.ans3 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans4 %></p>
      <h4>(設問3)</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第3問（配点30点）<h4>
      <p><%= @answer.ans6 %></p>      
      <br>
    <% end %>
  <% end %>
  <% if @answer.year == 24 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）</h4>  
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点20点）</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点20点）</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第5問（配点20点）</h4>
      <p><%= @answer.ans5 %></p>
      <br>
   <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点10点）<h4>
      <p><%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点30点）<h4>
      <h4>(設問1)</h4>     
      <p><%= @answer.ans2 %></p>
      <h4>(設問2)</h4>               
      <p><%= @answer.ans3 %></p> 
      <br>
      <h4>第3問（配点30点）<h4> 
      <h4>(設問1)</h4> 
      <p><%= @answer.ans4 %></p>
      <h4>(設問2)</h4>          
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点30点）<h4>           
      <p><%= @answer.ans6 %></p>      
      <br>
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点10点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）<h4>           
      <p> <%= @answer.ans2 %></p>
      <br>
      <p> <%= @answer.ans3 %></p>  
      <h4>第3問（配点40点）<h4>
      <h4>(設問1)</h4>             
      <p><%= @answer.ans4 %></p>
      <h4>(設問2)</h4>             
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点30点）<h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点40点）<h4>
      <h4>(設問1)</h4>    
      <p> <%= @answer.ans1 %></p>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans2 %></p>
      <h4>(設問3)</h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第2問（配点30点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第3問（配点30点）<h4>
      <h4>(設問1)</h4>    
      <p><%= @answer.ans6 %></p>  
      <h4>(設問2)</h4>    
      <p><%= @answer.ans7 %></p>        
      <br>
    <% end %>
  <% end %>
  <% if @answer.year == 23 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点40点）<h4>
      <h4>(設問1)</h4>     
      <p> <%= @answer.ans1 %></p>
      <h4>(設問2)</h4>  
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第2問（配点20点）</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点20点）</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第4問（配点20点）</h4>
      <p><%= @answer.ans5 %></p>
      <br>
   <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点10点）<h4>
      <p><%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点30点）<h4>
      <h4>(設問1)</h4>     
      <p><%= @answer.ans2 %></p>
      <h4>(設問2)</h4>               
      <p><%= @answer.ans3 %></p> 
      <br>
      <h4>第3問（配点30点）<h4> 
      <h4>(設問1)</h4> 
      <p><%= @answer.ans4 %></p>
      <h4>(設問2)</h4>          
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点30点）<h4>           
      <p><%= @answer.ans6 %></p>      
      <br>
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点10点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）<h4>           
      <p> <%= @answer.ans2 %></p>
      <br>
      <p> <%= @answer.ans3 %></p>  
      <h4>第3問（配点40点）<h4>
      <h4>(設問1)</h4>             
      <p><%= @answer.ans4 %></p>
      <h4>(設問2)</h4>             
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点30点）<h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点40点）<h4>
      <h4>(設問1)</h4>    
      <p> <%= @answer.ans1 %></p>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans2 %></p>
      <h4>(設問3)</h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第2問（配点30点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第3問（配点30点）<h4>
      <h4>(設問1)</h4>    
      <p><%= @answer.ans6 %></p>  
      <h4>(設問2)</h4>    
      <p><%= @answer.ans7 %></p>        
      <br>
    <% end %>
  <% end %>
  <% if @answer.year == 22 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点30点）<h4>
      <h4>(設問1)</h4>     
      <p> <%= @answer.ans1 %></p>
      <h4>(設問2)</h4>  
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第2問（配点30点）</h4>
      <h4>(設問1)</h4>       
      <p><%= @answer.ans3 %></p>
      <h4>(設問2)</h4> 
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第3問（配点20点）</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点20点）</h4>
      <p><%= @answer.ans6 %></p>      
      <br>
    <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点10点）<h4>
      <p><%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点30点）<h4>
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点10点）<h4>                
      <p><%= @answer.ans3 %></p> 
      <br>
      <h4>第4問（配点20点）<h4> 
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第5問（配点30点）<h4>           
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点40点）<h4>  
      <h4>(設問1)</h4>
      <p> <%= @answer.ans2 %></p>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点20点）<h4>
      <p> <%= @answer.ans4 %></p>
      <br>
      <h4>第4問（配点20点）<h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点40点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点25点）<h4>      
      <h4>(設問1)</h4>
      <p> <%= @answer.ans2 %></p>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点20点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点15点）<h4>
      <h4>(設問1)</h4>    
      <p><%= @answer.ans6 %></p>  
      <h4>(設問2)</h4>    
      <p><%= @answer.ans7 %></p>        
      <br>
    <% end %>
  <% end %>
  <% if @answer.year == 21 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）</h4>
      <p> <%= @answer.ans2 %></p>      
      <br>
      <h4>第3問（配点20点）</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点20点）</h4>
      <p><%= @answer.ans4 %></p>      
      <br>
      <h4>第5問（配点20点）</h4>
      <p><%= @answer.ans5 %></p>      
      <br>      
    <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点10点）<h4>
      <p><%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点30点）<h4>
      <p><%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点10点）<h4>                
      <p><%= @answer.ans3 %></p> 
      <br>
      <h4>第4問（配点20点）<h4> 
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第5問（配点30点）<h4>           
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点40点）<h4>  
      <h4>(設問1)</h4>
      <p> <%= @answer.ans2 %></p>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点20点）<h4>
      <p> <%= @answer.ans4 %></p>
      <br>
      <h4>第4問（配点20点）<h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点40点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）<h4>      
      <h4>(設問1)</h4>
      <p> <%= @answer.ans2 %></p>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点20点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点20点）<h4>
      <h4>(設問1)</h4>    
      <p><%= @answer.ans6 %></p>  
      <h4>(設問2)</h4>    
      <p><%= @answer.ans7 %></p>        
      <br>
    <% end %>
  <% end %>
  <% if @answer.year == 20 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）</h4>
      <p> <%= @answer.ans2 %></p>      
      <br>
      <h4>第3問（配点20点）</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点20点）</h4>
      <p><%= @answer.ans4 %></p>      
      <br>
      <h4>第5問（配点20点）</h4>
      <p><%= @answer.ans5 %></p>      
      <br>      
    <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点10点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）</h4>
      <p> <%= @answer.ans2 %></p>      
      <br>
      <h4>第3問（配点20点）</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点20点）</h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>      
      <br>
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>      
      <br>      
      <h4>第5問（配点30点）</h4>
      <p><%= @answer.ans6 %></p>      
      <br>      
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点30点）<h4>  
      <h4>(設問1)</h4>
      <p> <%= @answer.ans2 %></p>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点25点）<h4>
      <p> <%= @answer.ans4 %></p>
      <br>
      <h4>第4問（配点25点）<h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点30点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点25点）<h4>      
      <h4>(設問1)</h4>
      <p> <%= @answer.ans2 %></p>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点25点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点20点）<h4>
      <h4>(設問1)</h4>    
      <p><%= @answer.ans6 %></p>  
      <h4>(設問2)</h4>    
      <p><%= @answer.ans7 %></p>        
      <br>
    <% end %>
  <% end %>
  <% if @answer.year == 19 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点10点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点15点）</h4>
      <p> <%= @answer.ans2 %></p>      
      <br>
      <h4>第3問（配点15点）</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点45点）</h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>      
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>      
      <h4>(設問3)</h4>
      <p><%= @answer.ans6 %></p>      
      <br>            
      <h4>第5問（配点15点）</h4>
      <p><%= @answer.ans7 %></p>      
      <br>      
    <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点20点）<h4>
      <h4>(設問1)</h4>    
      <p> <%= @answer.ans1 %></p>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans2 %></p>      
      <br>
      <h4>第2問（配点30点）</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点30点）</h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>      
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>      
      <br>      
      <h4>第4問（配点20点）</h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans6 %></p>  
      <h4>(設問2)</h4>
      <p><%= @answer.ans7 %></p>       
      <br>      
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）<h4>  
      <p> <%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点20点）<h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点20点）<h4>
      <p> <%= @answer.ans4 %></p>
      <br>
      <h4>第5問（配点20点）<h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点25点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点25点）<h4>      
      <h4>(設問1)</h4>
      <p> <%= @answer.ans2 %></p>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点25点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点25点）<h4>
      <h4>(設問1)</h4>    
      <p><%= @answer.ans6 %></p>  
      <h4>(設問2)</h4>    
      <p><%= @answer.ans7 %></p>        
      <br>
    <% end %>
  <% end %>
  <% if @answer.year == 18 %>
    <% if @answer.jirei == 1 %>
      <br>
      <h4>第1問（配点30点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点30点）</h4>
      <h4>(設問1)</h4>
      <p> <%= @answer.ans2 %></p>      
      <h4>(設問2)</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点30点）</h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>      
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点10点）</h4>
      <p><%= @answer.ans6 %></p>      
      <br>            
    <% elsif @answer.jirei == 2 %>
      <br>
      <h4>第1問（配点20点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点15点）</h4>
      <p> <%= @answer.ans2 %></p>      
      <br>
      <h4>第3問（配点30点）</h4>
      <p><%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点15点）</h4>
      <p><%= @answer.ans4 %></p>
      <br>
      <h4>第5問（配点20点）</h4>
      <p><%= @answer.ans5 %></p>      
      <br>      
    <% elsif @answer.jirei == 3 %>  
      <br>
      <h4>第1問（配点10点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点25点）<h4>  
      <p> <%= @answer.ans2 %></p>
      <br>
      <h4>第3問（配点25点）<h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第4問（配点20点）<h4>
      <p> <%= @answer.ans4 %></p>
      <br>
      <h4>第5問（配点20点）<h4>
      <p><%= @answer.ans5 %></p>
      <br>
    <% elsif @answer.jirei == 4 %> 
      <br>
      <h4>第1問（配点30点）<h4>
      <p> <%= @answer.ans1 %></p>
      <br>
      <h4>第2問（配点20点）<h4>      
      <h4>(設問1)</h4>
      <p> <%= @answer.ans2 %></p>
      <h4>(設問2)</h4>
      <p> <%= @answer.ans3 %></p>
      <br>
      <h4>第3問（配点20点）<h4>
      <h4>(設問1)</h4>
      <p><%= @answer.ans4 %></p>
      <h4>(設問2)</h4>
      <p><%= @answer.ans5 %></p>
      <br>
      <h4>第4問（配点15点）<h4>
      <p><%= @answer.ans7 %></p>        
      <br>          
      <h4>第5問（配点15点）<h4>
      <h4>(設問1)</h4>    
      <p><%= @answer.ans6 %></p>  
      <h4>(設問2)</h4>    
      <p><%= @answer.ans7 %></p>        
      <br>
    <% end %>
  <% end %>





















<br>
<div　class="button_side">
	<%= button_to "承認", {controller: 'answers', action: 'index'},{method: :get} %>   
 <%= button_to "編集", {controller: 'answers', action: 'edit'}, {method: :get, params: {id: @answer,year: @answer.year,jirei: @answer.jirei}} %>   
 <%= button_to '削除', answer_path(@answer.id), :method => :delete, :confirm => '本当に取り消しますか？' %>
</div>    
