<section class = "blog">
  <% @id %>    
  <%  if @id == "301" then %>
    <h1 class="ranking_title">平成３０年　事例１　ランキング</h1>
    <%= render 'ranks/list' %>
  <%  elsif @id == "302" then %>  
    <h2 >平成３０年　事例２　ランキング</h2>
    <%= render 'ranks/list' %>
  <%  elsif @id == "303" then %>  
     <h2 >平成３０年　事例３　ランキング</h2>
     <%= render 'ranks/list' %>
  <%  elsif @id == "304" then %>  
     <h2>平成３０年　事例４　ランキング</h2>
     <%= render 'ranks/list' %>
  <%  elsif @id == "291" then %>  
    <h2 >平成２９年　事例１　ランキング</h2>
    <%= render 'ranks/list' %>
  <%  elsif @id == "292" then %>  
    <h2>平成２９年　事例２　ランキング</h2> 
    <%= render 'ranks/list' %>
  <%  elsif @id == "293" then %>  
    <h2>平成２９年　事例３　ランキング</h2>   
    <%= render 'ranks/list' %>
  <%  elsif @id == "294" then %>  
    <h2>平成２９年　事例４　ランキング</h2> 
    <%= render 'ranks/list' %>
  <%  elsif @id == "281" then %>  
    <h2>平成２８年　事例１　ランキング</h2>      
    <%= render 'ranks/list' %>
  <%  elsif @id == "282" then %>  
    <h2>平成２８年　事例２　ランキング</h2> 
    <%= render 'ranks/list' %>
  <%  elsif @id == "283" then %>  
    <h2>平成２８年　事例３　ランキング</h2>
    <%= render 'ranks/list' %>
  <%  elsif @id == "284" then %>  
    <h2>平成２８年　事例４　ランキング</h2>     
    <%= render 'ranks/list' %>
  <%  elsif @id == "271" then %>  
    <h2>平成２７年　事例１　ランキング</h2>      
    <%= render 'ranks/list' %>
  <%  elsif @id == "272" then %>  
    <h2>平成２７年　事例２　ランキング</h2>   
    <%= render 'ranks/list' %>
  <%  elsif @id == "273" then %>  
    <h2>平成２７年　事例３　ランキング</h2>   
    <%= render 'ranks/list' %>
  <%  elsif @id == "274" then %>  
    <h2>平成２７年　事例４　ランキング</h2>    
    <%= render 'ranks/list' %>
  <%  elsif @id == "261" then %>  
    <h2>平成２６年　事例１　ランキング</h2>     
    <%= render 'ranks/list' %>
  <%  elsif @id == "262" then %>  
    <h2>平成２６年　事例２　ランキング</h2>     
    <%= render 'ranks/list' %>
  <%  elsif @id == "263" then %>  
  　<h2>平成２６年　事例３　ランキング</h2>
    <%= render 'ranks/list' %>
  <%  elsif @id == "264" then %>  
    <h2>平成２６年　事例４　ランキング</h2>   
    <%= render 'ranks/list' %>
  <%  elsif @id == "251" then %>  
    <h2>平成２５年　事例１　ランキング</h2>
    <%= render 'ranks/list' %>
  <%  elsif @id == "252" then %>  
    <h2>平成２５年　事例２　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "253" then %>  
    <h2>平成２５年　事例３　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "254" then %>  
    <h2>平成２５年　事例４　ランキング</h2>
    <%= render 'ranks/list' %>    
    
  <%  elsif @id == "241" then %>  
    <h2>平成２４　事例１　ランキング</h2>
    <%= render 'ranks/list' %>
  <%  elsif @id == "242" then %>  
    <h2>平成２４　事例２　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "243" then %>  
    <h2>平成２４　事例３　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "244" then %>  
    <h2>平成２４　事例４　ランキング</h2>
    <%= render 'ranks/list' %>        
    
  <%  elsif @id == "231" then %>  
    <h2>平成２３　事例１　ランキング</h2>
    <%= render 'ranks/list' %>
  <%  elsif @id == "232" then %>  
    <h2>平成２３　事例２　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "233" then %>  
    <h2>平成２３　事例３　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "234" then %>  
    <h2>平成２３　事例４　ランキング</h2>
    <%= render 'ranks/list' %>        
    
  <%  elsif @id == "221" then %>  
    <h2>平成２２　事例１　ランキング</h2>
    <%= render 'ranks/list' %>
  <%  elsif @id == "222" then %>  
    <h2>平成２２　事例２　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "223" then %>  
    <h2>平成２２　事例３　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "224" then %>  
    <h2>平成２２　事例　ランキング</h2>
    <%= render 'ranks/list' %>                
    
  <%  elsif @id == "211" then %>  
    <h2>平成２１　事例ランキング</h2>
    <%= render 'ranks/list' %>
  <%  elsif @id == "212" then %>  
    <h2>平成２１　事例２　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "213" then %>  
    <h2>平成２１　事例３　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "214" then %>  
    <h2>平成２１　事例４　ランキング</h2>
    <%= render 'ranks/list' %>           
    
  <%  elsif @id == "201" then %>  
    <h2>平成２０　事例ランキング</h2>
    <%= render 'ranks/list' %>
  <%  elsif @id == "202" then %>  
    <h2>平成２０　事例２　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "203" then %>  
    <h2>平成２０　事例３　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "204" then %>  
    <h2>平成２０　事例４　ランキング</h2>
    <%= render 'ranks/list' %>           
    
  <%  elsif @id == "191" then %>  
    <h2>平成１９　事例ランキング</h2>
    <%= render 'ranks/list' %>
  <%  elsif @id == "192" then %>  
    <h2>平成１９　事例２　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "193" then %>  
    <h2>平成１９　事例３　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "194" then %>  
    <h2>平成１９　事例４　ランキング</h2>
    <%= render 'ranks/list' %>               
    
  <%  elsif @id == "181" then %>  
    <h2>平成１８　事例ランキング</h2>
    <%= render 'ranks/list' %>
  <%  elsif @id == "182" then %>  
    <h2>平成１８　事例２　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "183" then %>  
    <h2>平成１８　事例３　ランキング</h2>
    <%= render 'ranks/list' %>    
  <%  elsif @id == "184" then %>  
    <h2>平成１８　事例４　ランキング</h2>
    <%= render 'ranks/list' %>         
    
    
    
    
    
  <% end %>
</section>    


