<section class = "blog">

<%  if @id == "301" then %>
  <h1 class="ranking_title">平成３０年　事例１　ランキング</h1>
<%  elsif @id == "302" then %>  
   <h2 class="blog-headline">平成３０年　事例２　ランキング</h2>
<%  elsif @id == "303" then %>  
     <h2 class="blog-headline">平成３０年　事例３　ランキング</h2>
<%  elsif @id == "304" then %>  
     <h2 class="blog-headline">平成３０年　事例４　ランキング</h2>
<%  elsif @id == "291" then %>  
    <h2 class="blog-headline">平成２９年　事例１　ランキング</h2>
<%  elsif @id == "292" then %>  
    <h2 class="blog-headline">平成２９年　事例２　ランキング</h2> 
<%  elsif @id == "293" then %>  
    <h2 class="blog-headline">平成２９年　事例３　ランキング</h2>   
<%  elsif @id == "294" then %>  
    <h2 class="blog-headline">平成２９年　事例４　ランキング</h2> 
<%  elsif @id == "281" then %>  
   <h2 class="blog-headline">平成２８年　事例１　ランキング</h2>      
<%  elsif @id == "282" then %>  
    <h2 class="blog-headline">平成２８年　事例２　ランキング</h2> 
<%  elsif @id == "283" then %>  
   <h2 class="blog-headline">平成２８年　事例３　ランキング</h2>
<%  elsif @id == "284" then %>  
    <h2 class="blog-headline">平成２８年　事例４　ランキング</h2>     
<%  elsif @id == "271" then %>  
    <h2 class="blog-headline">平成２７年　事例１　ランキング</h2>      
<%  elsif @id == "272" then %>  
    <h2 class="blog-headline">平成２７年　事例２　ランキング</h2>   
<%  elsif @id == "273" then %>  
    <h2 class="blog-headline">平成２７年　事例３　ランキング</h2>   
<%  elsif @id == "274" then %>  
    <h2 class="blog-headline">平成２７年　事例４　ランキング</h2>    
<%  elsif @id == "261" then %>  
    <h2 class="blog-headline">平成２６年　事例１　ランキング</h2>     
<%  elsif @id == "262" then %>  
    <h2 class="blog-headline">平成２６年　事例２　ランキング</h2>     
<%  elsif @id == "263" then %>  
  　<h2 class="blog-headline">平成２６年　事例３　ランキング</h2>
<%  elsif @id == "264" then %>  
    <h2 class="blog-headline">平成２６年　事例４　ランキング</h2>   
<%  elsif @id == "251" then %>  
    <h2 class="blog-headline">平成２５年　事例１　ランキング</h2>
<% end %>

     <div class="blog-box">
       <div class ="blog-item clearfix">
         <section class = "blog-text">
   <% no = 1 %>              
   <div class = "foo">
    <ul class = "foo1">
      <li>順位</li>
      <li>名前</li>  
      <li>得点</li>
      <li>判定</li>
      <li>登録ID</li> 
      <li>投稿日</li>       
      <li>評価</li></ul><% @answers.each do |f| %><ul>
      <ul class = "foo2">
      <li><%= no %></li>            
      <li><%= f.user.name %></li>
      <% score = f.comments.average(:score).round(0) %>
      <li><%= score %></li>
      <% if( score >= 60 )then %>
         <% jdg = "A" %>
      <% end %>      
      <li><%= jdg %></li>
      <li><%= f.id %></li>
      <li><%= f.created_at.strftime('%Y/%m/%d') %></li>      
      <li><%= button_to "詳細表示", {controller: 'ranks', action: 'show'}, {method: :get, params: {id: f.id }} %></li></ul></ul><% no = no + 1 %><% end %>
</div>
</div>

</section>    


