<% @answers.each do |f|  %>
  <h2><%= f.user.name %>さんの解答への評価</h1>
  <br>
  <% if(f.year == 30 )then  %>
    <% if(f.jirei == 1)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
    <h4>第2問（配点40点）<h4>
    <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
    <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
    <h4>第3問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
    <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <br>        
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点25点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
    <h4>第2問（配点25点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
    <h4>第3問（配点25点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
    <h4>第4問（配点25点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
    <% end %>
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
    <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
    <h4>第3問（配点20点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
    <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
    <h4>第5問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <br>        
    <% end %>
    <% if(f.jirei == 4)then  %>
      <h4>第1問（配点24点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 12)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
    <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 12)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点31点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 11)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問3)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第3問（配点30点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans7 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge7 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans7 %></p>
        <br>
      <% end %>      
      <h4>第4問（配点15点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans8 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge8 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans8 %></p>
        <br>
      <% end %>      
      <br>        
    <% end %>
　<% end %>

  <% if(f.year == 29 )then  %>
    <% if(f.jirei == 1)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第5問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <br>        
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
    <h4>第2問（配点25点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
    <h4>第3問（配点30点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
    <h4>第4問（配点25点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
    <% end %>
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点30点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
    <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
    <h4>第3問（配点20点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
    <h4>第4問（配点30点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
    <% end %>
    <% if(f.jirei == 4)then  %>
      <h4>第1問（配点25点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点18点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 6)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 6)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問3)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 6)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第3問（配点29点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 19)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans7 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge7 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans7 %></p>
        <br>
      <% end %>
      <h4>第4問（配点28点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans8 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge8 * 8)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans8 %></p>
        <br>
      <% end %>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans9 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge9 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans9 %></p>
        <br>
      <% end %>
      <h4>(設問3)</h4> 
      <p class="answer"> <%= f.ans10 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge10 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans10 %></p>
        <br>
      <% end %>
    <% end %>
　<% end %>
  <% if(f.year == 28 )then  %>
    <% if(f.jirei == 1)then  %>
      <h4>第1問（配点40点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点40点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点30点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点30点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点30点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点30点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
    <% end %>
    <% if(f.jirei == 4)then  %>
      <h4>第1問（配点25点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点35点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点15点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第4問（配点25点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans7 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge7 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans7 %></p>
        <br>
      <% end %>      
    <% end %>
　<% end %>
　
  <% if(f.year == 27 )then  %>
    <% if(f.jirei == 1)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第5問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点40点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問3)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点40点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点40点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問3)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>
      <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>
    <% end %>
    <% if(f.jirei == 4)then  %>
      <h4>第1問（配点28点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 14)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 14)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点34点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 14)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問3)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第3問（配点26点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans7 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge7 * 6)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans8 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge8 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans7 %></p>
        <br>
      <% end %>      
      <h4>(設問3)</h4> 
      <p class="answer"> <%= f.ans9 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge9 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans8 %></p>
        <br>
      <% end %>      
      <h4>第4問（配点12点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans10 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge9 * 6)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans9 %></p>
        <br>
      <% end %>      
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans10 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge10 * 6)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans10 %></p>
        <br>
      <% end %>      
    <% end %>
　<% end %>　
　
  <% if(f.year == 26 )then  %>
    <% if(f.jirei == 1)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）<h4>
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第5問（配点20点）<h4>
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <br>        
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点25点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点25点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点30点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点10点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点40点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点30点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 4)then  %>
      <h4>第1問（配点24点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 24)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点30点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点30点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>(設問3)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %> 
      <h4>第4問（配点16点）</h4> 
      <p class="answer"> <%= f.ans7 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge7 * 16)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans7 %></p>
        <br>
      <% end %>      
    <% end %>
　<% end %>　
  <% if(f.year == 25 )then  %>
    <% if(f.jirei == 1)then  %>
      <h4>第1問（配点35点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点35点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点15点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第4問（配点15点）</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点30点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点30点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点30点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点40点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点30点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 4)then  %>
      <h4>第1問（配点25点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点45点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問3)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点30点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
　<% end %>
　
  <% if(f.year == 24 )then  %>
    <% if(f.jirei == 1)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第5問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点10点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点30点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点30点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第4問（配点30点）</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点10点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
    <% end %>  
    <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
    <h4>第3問（配点40点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
    <h4>第4問（配点30点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <% if(f.jirei == 4)then  %>
      <h4>第1問（配点40点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
       <h4><%= ff.user.name %>さん <%= (ff.judge2 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問3)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点30点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>
      <h4>第3問（配点30点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
       <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans7 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge7 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans7 %></p>
        <br>
      <% end %>      
    <% end %>
　<% end %>　
　
　<% if(f.year == 23 )then  %>
    <% if(f.jirei == 1)then  %>
      <h4>第1問（配点40点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点10点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点25点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
    <% end %>
    
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点40点）<h4>
      <h4>(設問1)</h4>           
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4>  
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    
    <% if(f.jirei == 4)then  %>
      <h4>第1問（配点35点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点15点）</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点25点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点25点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% end %>
　  <% if(f.year == 22 )then  %>
      <% if(f.jirei == 1)then  %>
      <h4>第1問（配点30点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点30点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
     <h4>第3問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
     <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点10点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点30点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点10点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
     <h4>第5問（配点30点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
    <h4>第2問（配点40点）<h4>
    <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
    <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
    <h4>第3問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
    <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <br>        
    <% end %>
    <% if(f.jirei == 4)then  %>
      <h4>第1問（配点40点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 40)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
    <h4>第2問（配点25点）<h4>
    <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
    <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第4問（配点15点）</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
    <% end %>
　<% end %>
　
　<% if(f.year == 21 )then  %>
    <% if(f.jirei == 1)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
    <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第5問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点10点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点40点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点30点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点10点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点40点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点40点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第4問（配点10点）</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 4)then  %>
      <h4>第1問（配点40点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 40)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>
      <h4>第4問（配点20点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans7 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge7 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans7 %></p>
        <br>
      <% end %>
    <% end %>
　<% end %>
　
　<% if(f.year == 20 )then  %>
    <% if(f.jirei == 1)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第5問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点10点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
    <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
    <h4>第3問（配点20点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第5問（配点30点）</h4> 
        <p class="answer"> <%= f.ans6 %></p>
        <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点30点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点25点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点25点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 4)then  %>
      <h4>第1問（配点30点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点25点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点25点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第4問（配点20点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans7 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge7 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans7 %></p>
        <br>
      <% end %>      
      <br>        
    <% end %>
　<% end %>
　
　<% if(f.year == 19 )then  %>
    <% if(f.jirei == 1)then  %>
      <h4>第1問（配点10点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
    <h4>第2問（配点15点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
    <h4>第3問（配点15点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
    <h4>第4問（配点45点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>(設問3)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
      <h4>第5問（配点15点）</h4> 
      <p class="answer"> <%= f.ans7 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge7 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans7 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点20点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点30点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点30点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第4問（配点20点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans7 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge7 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans7 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
    <h4>第5問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <br>        
    <% end %>
    <% if(f.jirei == 4)then  %>
      <h4>第1問（配点25点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点25点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点25点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
    <% end %>
　<% end %>
　　
　<% if(f.year == 18 )then  %>
    <% if(f.jirei == 1)then  %>
      <h4>第1問（配点30点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点30点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点30点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>第4問（配点10点）</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 2)then  %>
      <h4>第1問（配点20点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点15点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点30点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点15点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第5問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
    <% end %>
    <% if(f.jirei == 3)then  %>
      <h4>第1問（配点10点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点25点）<h4>
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点25点）<h4>
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 25)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
    <h4>第5問（配点20点）</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <br>        
    <% end %>
    <% if(f.jirei == 4)then  %>
      <h4>第1問（配点30点）<h4>
      <p class="answer"> <%= f.ans1 %></p>
      <br>
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge1 * 30)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans1 %></p>
        <br>
      <% end %>
      <br>
      <h4>第2問（配点20点）<h4>
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans2 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge2 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans2 %></p>
        <br>
      <% end %>
      <br>
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans3 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge3 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans3 %></p>
        <br>
      <% end %>
      <br>
      <h4>第3問（配点20点）</h4> 
      <p class="answer"> <%= f.ans4 %></p>
      <br>    
      <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge4 * 20)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans4 %></p>
        <br>
      <% end %>
      <br>
      <h4>第4問（配点20点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans5 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge5 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
        <br>
      <% end %>      
      <h4>(設問2)</h4> 
      <p class="answer"> <%= f.ans6 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge6 * 10)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans6 %></p>
        <br>
      <% end %>      
      <h4>第5問（配点15点）</h4> 
      <h4>(設問1)</h4> 
      <p class="answer"> <%= f.ans7 %></p>
      <br>   
       <% f.comments.each do |ff|  %>
        <h4><%= ff.user.name %>さん <%= (ff.judge7 * 15)/10  %>点</h4>  
        <p class="kakomu"><%= ff.ans5 %></p>
      <% end %>      
    <% end %>
　<% end %>
<% end %>

<%= button_to "トップに戻る。", {controller: 'root', action: 'top'}, {method: :get} %>


