<section class = "blog">
     <h2 class="blog-headline">事例分析企業一覧</h2>
     <div class="blog-box">
       <div class ="blog-item clearfix">
         <section class = "blog-text">
   <div class = "foo">
    <ul class = "foo1">
      <li>中小企業白書</li>
      <li>事例番号</li>  
      <li>分析</li>
      <li>判定</li>
      <li>評価</li>
    </ul>
     <ul class = "foo2">
      <li>2018年版</li>
      <li>1-3-1</li>  
      <li><%= button_to "作成", {controller: 'drills', action: 'new'}, {method: :get, params: {id:"131" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "131" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "131" }} %></li>
     </ul>
     <ul class = "foo2">
      <li>2018年版</li>
      <li>1-3-2</li>  
      <li><%= button_to "作成", {controller: 'drills', action: 'new'}, {method: :get, params: {id: "132" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "132" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "132" }} %></li>
     </ul>     
     <ul class = "foo2">
      <li>2018年版</li>
      <li>1-3-3</li>  
      <li><%= button_to "作成", {controller: 'drills', action: 'new'}, {method: :get, params: {id: "133" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "133" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "133" }} %></li>
     </ul>     
     <ul class = "foo2">
      <li>2018年版</li>
      <li>1-4-1</li>  
      <li><%= button_to "作成", {controller: 'drills', action: 'new'}, {method: :get, params: {id: "141" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "141" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "141" }} %></li>
     </ul>            
    <ul class = "foo2">
      <li>2018年版</li>
      <li>1-4-2</li>  
      <li><%= button_to "作成", {controller: 'drills', action: 'new'}, {method: :get, params: {id: "142" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "142" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "142" }} %></li>
     </ul>         
    <ul class = "foo2">
      <li>2018年版</li>
      <li>2-1-1</li>  
      <li><%= button_to "作成", {controller: 'drills', action: 'new'}, {method: :get, params: {id: "211" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "211" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "211" }} %></li>
     </ul>       
     <ul class = "foo2">
      <li>2018年版</li>
      <li>2-1-2</li>  
      <li><%= button_to "作成", {controller: 'drills', action: 'new'}, {method: :get, params: {id: "212" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "212" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "212" }} %></li>
     </ul>       
     <ul class = "foo2">
      <li>2018年版</li>
      <li>2-1-3</li>  
      <li><%= button_to "作成", {controller: 'answers', action: 'new'}, {method: :get, params: {id: "213" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "213" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "213" }} %></li>
     </ul>          
     <ul class = "foo2">
      <li>2018年版</li>
      <li>2-1-4</li>  
      <li><%= button_to "作成", {controller: 'answers', action: 'new'}, {method: :get, params: {id: "214" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "214" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "214" }} %></li>
     </ul>          
     <ul class = "foo2">
      <li>2018年版</li>
      <li>2-1-5</li>  
      <li><%= button_to "作成", {controller: 'answers', action: 'new'}, {method: :get, params: {id: "215" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "215" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "215" }} %></li>
     </ul>          
     <ul class = "foo2">
      <li>2018年版</li>
      <li>2-1-6</li>  
      <li><%= button_to "作成", {controller: 'answers', action: 'new'}, {method: :get, params: {id: "216" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "216" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "216" }} %></li>
     </ul>          
     <ul class = "foo2">
      <li>2018年版</li>
      <li>2-2-1</li>  
      <li><%= button_to "作成", {controller: 'answers', action: 'new'}, {method: :get, params: {id: "221" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "221" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "221" }} %></li>
     </ul>      
     <ul class = "foo2">
      <li>2018年版</li>
      <li>2-2-2</li>  
      <li><%= button_to "作成", {controller: 'answers', action: 'new'}, {method: :get, params: {id: "222" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "222" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "222" }} %></li>
     </ul>      
     <ul class = "foo2">
      <li>2018年版</li>
      <li>2-2-3</li>  
      <li><%= button_to "作成", {controller: 'answers', action: 'new'}, {method: :get, params: {id: "223" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "223" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'new'}, {method: :get, params: {id: "223" }} %></li>
     </ul>          
     <ul class = "foo2">
      <li>2018年版</li>
      <li>2-2-6</li>  
      <li><%= button_to "作成", {controller: 'answers', action: 'new'}, {method: :get, params: {id: "226" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "226" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "226" }} %></li>
     </ul>       
     <ul class = "foo2">
      <li>2018年版</li>
      <li>2-2-7</li>  
      <li><%= button_to "作成", {controller: 'answers', action: 'new'}, {method: :get, params: {id: "227" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "227" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "227" }} %></li>
     </ul>       
     <ul class = "foo2">
      <li>2018年版</li>
      <li>2-3-2</li>  
      <li><%= button_to "作成", {controller: 'answers', action: 'new'}, {method: :get, params: {id: "232" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "232" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "232" }} %></li>
     </ul>    
     <ul class = "foo2">
      <li>2018年版</li>
      <li>2-3-3</li>  
      <li><%= button_to "作成", {controller: 'answers', action: 'new'}, {method: :get, params: {id: "233" }} %></li>
      <li><%= button_to "実施", {controller: 'reviews', action: 'index'}, {method: :get, params: {id: "233" }} %></li>
      <li><%= button_to "表示", {controller: 'goods', action: 'index'}, {method: :get, params: {id: "233" }} %></li>
     </ul>       
   </div>    
   </div>    
   </section>    
<div class = "sidebar">
  <section class="popular">
    <h2 class="sidebar-headline">サイトメニュー</h2>
    <div class="sidebar-contents">
      <p class="popular-text">　<%= link_to '過去問', answers_index_path %></p>         
      <p class="popular-text">　<%= link_to '事例分析', drills_path %></p>              
      <p class="popular-text">　<%= link_to '掲示板', titles_path %></p>            
    </div>
  </section>
</div>






