<%  if params[:id] == "131" then %> 
  <h1>株式会社釜石電機製作所</h1>
  <iframe src="/assets/131.pdf" width="100%" height="500px"></iframe>
<%  elsif params[:id] == "132" then %>  
  <h1>株式会社亀井製作所</h1>
  <iframe src="/assets/132.pdf" width="100%" height="500px"></iframe> 
<%  elsif params[:id] == "133" then %>  
  <h1>株式会社にしき食品</h1>
  <iframe src="/assets/133.pdf" width="100%" height="500px"></iframe>   
<%  elsif params[:id] == "141" then %>  
  <h1>株式会社マックス</h1>
  <iframe src="/assets/141.pdf" width="100%" height="500px"></iframe>   
<%  elsif params[:id] == "142" then %>  
  <h1>ホットマン株式会社</h1>
  <iframe src="/assets/142.pdf" width="100%" height="500px"></iframe>       
<%  elsif params[:id] == "211" then %>  
  <h1>有限会社COCO-LO</h1>
  <iframe src="/assets/211.pdf" width="100%" height="500px"></iframe>       
<%  elsif params[:id] == "212" then %>  
  <h1>株式会社加藤製作所</h1>
  <iframe src="/assets/212.pdf" width="100%" height="500px"></iframe>       
<%  elsif params[:id] == "213" then %>  
  <h1>株式会社S.S.M</h1>
  <iframe src="/assets/213.pdf" width="100%" height="500px"></iframe>       
<%  elsif params[:id] == "214" then %>  
  <h1>ナザテック株式会社</h1>
  <iframe src="/assets/214.pdf" width="100%" height="500px"></iframe>       
<%  elsif params[:id] == "215" then %>  
  <h1>株式会社佐藤金属</h1>
  <iframe src="/assets/215.pdf" width="100%" height="500px"></iframe>       
<%  elsif params[:id] == "216" then %>  
  <h1>有限会社有吉農園</h1>
  <iframe src="/assets/216.pdf" width="100%" height="500px"></iframe>       
<%  elsif params[:id] == "221" then %>  
  <h1>株式会社小豆島国際ホテル</h1>
  <iframe src="/assets/221.pdf" width="100%" height="500px"></iframe>       
<%  elsif params[:id] == "222" then %>  
  <h1>株式会社コープデリバリー</h1>
  <iframe src="/assets/222.pdf" width="100%" height="500px"></iframe>       
<%  elsif params[:id] == "223" then %>  
  <h1>株式会社鷺の湯荘</h1>
  <iframe src="/assets/223.pdf" width="100%" height="500px"></iframe>       
<%  elsif params[:id] == "226" then %>  
  <h1>有限会朋友</h1>
  <iframe src="/assets/226.pdf" width="100%" height="500px"></iframe>        
<%  elsif params[:id] == "227" then %>  
  <h1>シンセメック株式会社</h1>
  <iframe src="/assets/227.pdf" width="100%" height="500px"></iframe>   
<%  elsif params[:id] == "232" then %>  
  <h1>シンセメック株式会社</h1>
  <iframe src="/assets/232.pdf" width="100%" height="500px"></iframe>     
<%  elsif params[:id] == "233" then %>  
  <h1>シンセメック株式会社</h1>
  <iframe src="/assets/233.pdf" width="100%" height="500px"></iframe>     
<% end %>

<br>
<br>
<br>

<!-- form_for部分 -->
<%= form_for @drills,:url => {:action => :create} do |f| %>
   <h4>成長戦略<h4>
   <%= f.text_area :strt, :size=>"115x10"%>
   <br> 
   <br>    
   <h4>SWOT分析<h4>
　　<h4>強み</h4>
    <%= f.text_area :s, :size=>"115x10"%>
 
    <h4>弱み</h4>
    <%= f.text_area :w, :size=>"115x10"%>
    
    <h4>機会</h4>
    <%= f.text_area :o, :size=>"115x10"%>
    
    <h4>脅威</h4>
    <%= f.text_area :t, :size=>"115x10"%>
    <br> 
    <br>      
    <h4>人事・組織的課題</h4>
    <%= f.text_area :j1, :size=>"115x10"%>    
    <br> 
    <br> 
    <h4>マーケティング戦略と対策(４P)</h4>
    <%= f.text_area :j2, :size=>"115x10"%>       
    <br> 
    <br>     
    <h4>運営管理上の課題と対策</h4>
    <%= f.text_area :j3, :size=>"115x10"%>           
    <br> 
    <br> 
    <h4>財務上の課題と対策</h4>
    <%= f.text_area :j4, :size=>"115x10"%>           
    
    
    <br>
    
       <%= f.submit '登録' %>
<% end %>
