 <section class = "blog">
     <h2 class="blog-headline">トピック一覧</h2>
     <br>
     <%= button_to "新トピック作成", new_title_path, method: :get %>
     <div class="blog-box">
       <div class ="blog-item clearfix">
         <% @titles.each do |post| %>
         <h5 class="title_h3"><%= link_to post.title , title_communications_path(post.id) %>  <%= link_to post.created_at.strftime('%Y/%m/%d'),title_communications_path(post.id) %>　</h5>           
 　  　　<% end %>
      </div>    
     </div>    
 </section>    
    <div class = "sidebar">
     <section class="popular">
        <h2 class="sidebar-headline">サイトメニュー</h2>
        <div class="sidebar-contents">
          <p class="popular-text">　<%= link_to '掲示板', titles_path %></p>            
          <p class="popular-text">　<%= link_to '評価一覧', titles_path %></p> 
          <p class="popular-text">　<%= link_to '新規投稿', titles_path %></p>           
         </div>
      </section>
   </div>


