<section >
  <% @id %>    
  <%  if @id == "131" then %>
    <h2>株式会社釜石電機製作所</h2>
    <%= render 'goods/list' %>
  <%  elsif @id == "132" then %>  
    <h2 >株式会社亀井製作所</h2>
    <%= render 'goods/list' %>
  <%  elsif @id == "133" then %>  
     <h2>株式会社にしき食品</h2>
     <%= render 'goods/list' %>
  <%  elsif @id == "141" then %>  
     <h2>株式会社マックス</h2>
     <%= render 'goods/list' %>
  <%  elsif @id == "142" then %>  
    <h2 >ホットマン株式会社</h2>
    <%= render 'goods/list' %>
  <%  elsif @id == "211" then %>  
    <h2>有限会社COCO-LO</h2> 
    <%= render 'goods/list' %>
  <%  elsif @id == "212" then %>  
    <h2>株式会社加藤製作所</h2>   
    <%= render 'goods/list' %>
  <%  elsif @id == "213" then %>  
    <h2>株式会社S.S.M</h2> 
    <%= render 'goods/list' %>
  <%  elsif @id == "214" then %>  
    <h2>ナザテック株式会社</h2>      
    <%= render 'goods/list' %>
  <%  elsif @id == "215" then %>  
    <h2>株式会社佐藤金属</h2> 
    <%= render 'goods/list' %>
  <%  elsif @id == "216" then %>  
    <h2>有限会社有吉農園</h2>
    <%= render 'goods/list' %>
  <%  elsif @id == "221" then %>  
    <h2>株式会社小豆島国際ホテル</h2>     
    <%= render 'goods/list' %>
  <%  elsif @id == "222" then %>  
    <h2>株式会社コープデリバリー</h2>      
    <%= render 'goods/list' %>
  <%  elsif @id == "223" then %>  
    <h2>株式会社鷺の湯荘</h2>   
    <%= render 'goods/list' %>
  <%  elsif @id == "226" then %>  
    <h2>有限会朋友</h2>   
    <%= render 'goods/list' %>
  <%  elsif @id == "227" then %>  
    <h2>シンセメック株式会社</h2>    
    <%= render 'goods/list' %>
  <%  elsif @id == "232" then %>  
    <h2>シンセメック株式会社</h2>     
    <%= render 'goods/list' %>
  <%  elsif @id == "233" then %>  
    <h2>シンセメック株式会社</h2>     
    <%= render 'goods/list' %>
  <% end %>
</section>    


