 <section class = "blog">
     <h2 class="blog-headline">トピック一覧</h2>
     <br>
     <%= button_to "新トピック作成", new_title_path %>
     <div class="blog-box">
       <div class ="blog-item clearfix">
       <table border="0.5" cellpadding="0" width="500">
        <% @com.each do |post| %>
         <tr>
           <td><%= post.id %> </td>  
           <td><%= link_to post.title , title_communications_path,id: post.id %></td>
 	    </tr>
 　  　　<% end %>
　　　　</table>
       </div>    
     </div>    
 </section>    
   <div class = "sidebar">
     <section class="popular">
        <h2 class="sidebar-headline">サイトメニュー</h2>
        <div class="sidebar-contents">
          <p class="popular-text">　<%= link_to '掲示板', titles_path %></p>            
          <p class="popular-text">　<%= link_to '評価一覧', titles_path %></p> 
          <p class="popular-text">　<%= link_to '新規投稿', titles_path %></p>           
         </div>
      </section>
   </div>

