 <section class = "blog">
     <h2 class="blog-headline">トピックの作成</h2>
     <div class="blog-box">
       <div class ="blog-item clearfix">
         <section class = "blog-text">
            <%= form_for @communications,:url => {:action => :create} do |f| %>
              <h4>タイトル<h4>
      　　　　<%= f.text_field :title, :size=>"50x5"%>
 　　　　     <br>　
              <h4>本文<h4>
      　 　　 <%= f.text_area :comment, :size=>"70x10"%>
 　　　　　   <br>
             <%= f.submit '書き込む' %> 
           <% end %>       
         </section>    
       </div>    
     </div>    
 </section>    
   <div class = "sidebar">
     <section class="popular">
        <h2 class="sidebar-headline">サイトメニュー</h2>
        <div class="sidebar-contents">
          <p class="popular-text">　<%= link_to '掲示板', titles_path %></p>            
          <p class="popular-text">　<%= link_to '評価一覧', titles_path %></p> 
          <p class="popular-text">　<%= link_to '新規投稿', titles_path %></p>           
         </div>
      </section>
   </div>