 <section class = "blog">
     <h2 class="blog-headline"><%= @titles.title %></h2>
     <div class="blog-box">
       <div class ="blog-item clearfix">
         <section class = "blog-text">
            <%= form_for [@titles,@communications],:url => {:action => :create} do |f| %>
            <h4>コメントを書く<h4>
      　 　　 <%= f.text_area :comment, :size=>"70x10"%>
 　　　　　   <br>
             <%= f.submit 'コメントする。' %> 
           <% end %>       
         </section>    
       </div> 
       <div class ="blog-item clearfix">
         <section class = "blog-text">
            <h5 class="kakomu"> <%= @titles.user.name %> <%= @titles.created_at.strftime('%Y/%m/%d') %> </h5>
            <br>
            <p><%= @titles.contents %></p>　
        </section>
        </div>
        <% @lists.each do |f| %>
        <div class ="blog-item clearfix">
            <section class = "blog-text">
                <h5 class="kakomu"> <%= f.user.name %> <%= f.created_at.strftime('%Y/%m/%d') %> </h5>
                <br>
                <p><%= f.comment %></p>　
            </section>
        </div>    
        <% end %>

       </div> 
     </div>    
 </section>    
   <div class = "sidebar">
     <section class="popular">
        <h2 class="sidebar-headline">サイトメニュー</h2>
        <div class="sidebar-contents">
          <p class="popular-text">　<%= link_to '掲示板', titles_path %></p>            
          <p class="popular-text">　<%= link_to '評価一覧', titles_path %></p> 
          <p class="popular-text">　<%= link_to '新規投稿', titles_path %></p>           
         </div>
      </section>
   </div>